riftty
*.o
*.d
TAGS
.DS_Store

# generated app files
package/riftty.app/
package/riftty.zip

# don't check in "secret" deploy script
deploy

# generated shader headers
FullbrightShader.h
FullbrightVertColorShader.h
FullbrightTexturedShader.h
FullbrightTexturedTextShader.h
FullbrightTexturedVertColorShader.h
FullbrightTexturedVertColorTextShader.h
PhongTexturedShader.h
